<nav class="navigation">
    <div class="nav-container">
        <ul class="nav-buttons">
            <a routerLink="/" class="logo">DELCIOUS RECIPES</a>

            <li>
                <a routerLink="/catalog" class="nav-btn" href="">RECIPES</a>
            </li>

            @if (authenticationService.isAuth) {
            <li>
                <a routerLink="/create" class="nav-btn" href="">CREATE</a>
            </li>
            <li>
                <a class="nav-btn" href="">PROFILE</a>
            </li>
            <li>
                <a (click)="onLogout($event)" class="nav-btn" href="">LOGOUT</a>
            </li>
            }

            @if(!authenticationService.isAuth) {
            <li>
                <a routerLink="/login" class="nav-btn" href="">LOGIN</a>
            </li>
            <li>
                <a routerLink="/register" class="nav-btn" href="">REGISTER</a>
            </li>
            }
        </ul>
        <div class="hamburger-menu">
            &#9776; <!-- Hamburger icon (3 horizontal bars) -->
        </div>
    </div>
</nav>