@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 6.74rem;
    box-sizing: inherit;
    overflow-x: hidden;
    width: 100vw;
}

body {
    background-image: url('./assets/images/detailsBack.jpg');
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    background-attachment: fixed;
}

.error {
    color: red;
    /* margin-left: 170px; */
    letter-spacing: 1px;
    font-family: 'Montserrat';
    display: flex;
    justify-self: start;
}