.dashboard-wrapper {
    margin: 50px 0px;
    font-family: "Unica One", serif;
    color: rgba(238, 235, 235, 0.918);
    font-size: 24px;
    word-spacing: 3px;
    letter-spacing: 2px;
    justify-items: center;
}

.my-recipes-heading {
    text-align: center;
    margin: 20px;
    padding: 0px 50px;
    border-bottom: 5px solid rgb(167, 167, 167);
    border-radius: 4px;
}

.no-result {
    color: rgba(238, 235, 235, 0.918);
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    text-align: center;
    justify-self: center;
    margin: 150px;
    letter-spacing: 1px;
}