<div class="form-background">
    <form [formGroup]="createAndEditForm" class="form" (ngSubmit)="handleSubmit()">
        <div class="fields-wrapper">
            <h2>{{isEditMode ? 'EDIT RECIPE': 'CREATE RECIPE'}}</h2>

            <label for="title">RECIPE</label>
            <input type="text" id="title" formControlName="recipeTitle">

            <label for="ingredients">INGREDIENTS</label>
            <div formArrayName="ingredients" class="ingredients-list">
                @for (ingredient of ingredients.controls; track ingredient; let i = $index) {
                <div class="ingredient-pair" id="ingredients" [formGroupName]="i">
                    <input type="text" placeholder="Ingredient Name" formControlName="ingredientName">
                    <input type="text" placeholder="Quantity" formControlName="ingredientQuantity">
                </div>
                }
            </div>
            <div class="add-remove-wrapper">
                <button class="addIngredient" type="button" (click)="addIngredient()">ADD</button>
                <button class="removeIngredient" type="button" (click)="removeIngredient()">DEL</button>
            </div>

            <label for="imageUrl">IMAGE URL</label>
            <input type="text" id="imageUrl" name="imageUrl" formControlName="imageUrl">

            <label for="duration">DURATION</label>
            <input type="text" id="duration" name="duration" formControlName="duration">

            <label for="directions">DIRECTIONS</label>
            <textarea id="directions" type="text" name="directions" formControlName="directions"></textarea>

            <button class="form-submit">{{isEditMode ? 'EDIT': 'CREATE'}}</button>
        </div>
    </form>
</div>