<form [formGroup]="authForm" class="auth-form" (ngSubmit)="handleSubmit()">
    <div class="fields-wrapper">
        <h2>{{isLoginMode ? 'LOGIN' : 'REGISTER'}}</h2>

        <label class="auth-label" for="email">EMAIL</label>
        @if(isFieldTouchedAndInvalid('email')) {
        <small class="error">{{getControlError('email')}}</small>
        }
        <input class="auth-input" type="text" id="email" name="email" formControlName="email">

        @if (!isLoginMode) {
        <label class="auth-label" for="username">USERNAME</label>
        @if(isFieldTouchedAndInvalid('username')) {
        <small class="error">{{getControlError('username')}}</small>
        }
        <input class="auth-input" type="text" id="username" name="username" formControlName="username">
        }

        <div class="password-wrapper" formGroupName="passGroup">
            <label class="auth-label" for="password">PASSWORD</label>
            @if (isFieldTouchedAndInvalid('password')) {
                <small class="error">{{getControlError('password')}}</small>
            }
            <input class="auth-input" type="password" id="password" name="password" formControlName="password">

            @if (!isLoginMode) {
            <label class="auth-label" for="rePass">CONFIRM PASSWORD</label>
            @if (isFieldTouchedAndInvalid('rePass')) {
                <small class="error">{{getControlError('rePass')}}</small>
            }
            <input class="auth-input" type="password" id="rePass" name="rePass" formControlName="rePass">
            }
        </div>

        <button class="auth-btn" [disabled]="isFormInvalid()" [class]='isFormInvalid() ? "disabled" : "" '
            type="submit">{{isLoginMode ? 'LOG IN' :
            'REGISTER'}}</button>

        <div class="switch-links">
            <p>{{isLoginMode ? "Don't have an account?" : "Already have an account?"}}</p>
            <a [routerLink]="isLoginMode ? '/register' : '/login'">
                {{isLoginMode ? 'Register' : 'Login'}}
            </a>
        </div>
    </div>
</form>