<form [formGroup]="authForm" class="auth-form" (ngSubmit)="handleSubmit()">
    <div class="fields-wrapper">
        <h2>{{isLoginMode ? 'LOGIN' : 'REGISTER'}}</h2>

        <label for="email">EMAIL</label>
        <input type="text" id="email" name="email" formControlName="email">

        @if (!isLoginMode) {
        <label for="username">USERNAME</label>
        <input type="text" id="username" name="username" formControlName="username">
        }

        <label for="password">PASSWORD</label>
        <input type="password" id="password" name="password" formControlName="password">

        @if (!isLoginMode) {
        <label for="rePass">CONFIRM PASSWORD</label>
        <input type="password" id="rePass" name="rePass" formControlName="rePass">
        }

        <button type="submit">{{isLoginMode ? 'LOG IN' : 'REGISTER'}}</button>

        <div class="switch-links">
            <p>{{isLoginMode ? "Don't have an account?" : "Already have an account?"}}</p>
            <a [routerLink]="isLoginMode ? '/register' : '/login'">
                {{isLoginMode ? 'Register' : 'Login'}}
            </a>
        </div>
    </div>
</form>