.auth-form {
    padding: 200px 0;
    display: flex;
    justify-content: center;
    color: rgba(238, 235, 235, 0.979);
}

.fields-wrapper {
    max-width: 400px;
    width: 100%;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 5px;
    padding: 70px 170px 140px;
    background: linear-gradient(51deg, rgba(8, 36, 48, 0.918) 0%, rgba(30, 76, 83, 0.842) 50%, rgba(8, 36, 48, 0.925) 100%);
    box-shadow: 0px 0px 3px 1px;
}

.fields-wrapper>h2 {
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 50px;
    justify-self: center;
}

.auth-input {
    color: rgba(238, 235, 235, 0.979);
    padding: 2px;
    width: 100%;
    max-width: 400px;
    height: 35px;
    font-size: 16px;
    margin-bottom: 40px;
    border-radius: 4px;
    border: none;
    background-color: rgba(34, 34, 34, 0.945);
}

.auth-label {
    letter-spacing: 2px;
    font-size: 18px;
}

.fields-wrapper>h2,
.auth-label,
.auth-btn,
.switch-links {
    font-family: "Montserrat", sans-serif;
}

.auth-btn {
    color: rgba(238, 235, 235, 0.979);
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px;
    padding-right: 65px;
    padding-left: 65px;
    border-radius: 4px;
    border: none;
    background: linear-gradient(51deg, rgba(36, 92, 92, 0.897) 0%, rgba(23, 143, 137, 0.87) 50%, rgba(36, 92, 92, 0.897) 100%);
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    max-width: 405px;
}

.auth-btn:hover {
    background: linear-gradient(51deg, rgba(39, 112, 112, 0.897) 0%, rgba(19, 173, 165, 0.87) 50%, rgba(39, 112, 112, 0.897) 100%);
}

.disabled, .disabled:hover {
    color: rgba(136, 136, 136, 0.979);
    background: linear-gradient(270deg, rgb(72, 73, 73) 23%, rgb(84, 87, 88) 50%, rgb(70, 73, 73) 77%);
    cursor: not-allowed;
}

.switch-links {
    margin-top: 80px;
}

.switch-links>p {
    margin-bottom: 10px;
    text-align: center;
}

.switch-links>a {
    color: rgba(238, 235, 235, 0.979);
    justify-content: center;
    text-decoration: none;
    display: flex;
    font-weight: 500;
}

.switch-links>a:hover {
    text-decoration: underline;
}

@media (max-width: 758px) {
    .fields-wrapper {
        padding: 60px 80px;
        height: fit-content;
    }

    .auth-input,
    .auth-btn {
        width: 100%;
        margin-left: 0;
    }

    .auth-label {
        margin-left: 0;
    }

    .fields-wrapper>h2 {
        text-align: center;
    }
}

@media (max-width: 582px) {
    .fields-wrapper {
        padding: 30px 50px;
        height: fit-content;
    }
}