<form [formGroup]="authForm" class="auth-form" (ngSubmit)="handleSubmit()">
    <div class="fields-wrapper">
        <h2>{{isLoginMode ? 'LOGIN' : 'REGISTER'}}</h2>

        <label class="auth-label" for="email">EMAIL</label>
            @if(touchedAndInvalid(this.authForm,null,'email')) {
            <small class="error">{{getControlError(this.authForm, null, 'email')}}</small>
            }
        <input class="auth-input" type="text" id="email" name="email" formControlName="email">

        @if (!isLoginMode) {
            <label class="auth-label" for="username">USERNAME</label>
            @if(touchedAndInvalid(this.authForm,null,'username')) {
            <small class="error">{{getControlError(this.authForm, null, 'username')}}</small>
            }
            <input class="auth-input" type="text" id="username" name="username" formControlName="username">
        }

        <div class="password-wrapper" formGroupName="passGroup">
            <label class="auth-label" for="password">PASSWORD</label>
                @if (touchedAndInvalid(this.authForm, this.passwordGroup,'password')) {
                <small class="error">{{getControlError(this.authForm, this.passwordGroup, 'password')}}</small>
                }
            <input class="auth-input" type="password" id="password" name="password" autocomplete="password" formControlName="password">

            @if (!isLoginMode) {
                <label class="auth-label" for="rePass">CONFIRM PASSWORD</label>
                @if (touchedAndInvalid(this.authForm,this.passwordGroup,'rePass')) {
                <small class="error">{{getControlError(this.authForm, this.passwordGroup, 'rePass')}}</small>
                }
                <input class="auth-input" type="password" id="rePass" name="rePass" autocomplete="password" formControlName="rePass">
            }
        </div>

        <button class="auth-btn" [disabled]="isFormInvalid()" [class]='isFormInvalid() ? "disabled" : "" '
            type="submit">{{isLoginMode ? 'LOG IN' :
            'REGISTER'}}</button>

        <div class="switch-links">
            <p>{{isLoginMode ? "Don't have an account?" : "Already have an account?"}}</p>
            <a [routerLink]="isLoginMode ? '/register' : '/login'">
                {{isLoginMode ? 'Register' : 'Login'}}
            </a>
        </div>
    </div>
</form>