.wrapper {
    background-image: url('../../../assets/images/homeBack.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 1px 1px 6px 1px rgb(14, 13, 13);
}

.bullet-wrapper {
    width: 100%;
    padding: 0 20px;
    justify-items: end;
}

.bullet-content {
    color: rgba(238, 235, 235, 0.918);
    padding: 50px 65px;
    display: block;
    text-indent: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: start;
    margin-bottom: 250px;
}

.bullet {
    width: 100%;
    margin-top: 40px;
}

.button {
    padding: 0px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    background: linear-gradient(36deg, rgb(61, 61, 60) 0%, rgba(87, 86, 86, 0.975) 50%, rgb(59, 59, 59) 100%);
    width: 200px;
    height: 50px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    box-shadow: 0px 0px 3px 4px rgb(102, 100, 100);
}

button:hover {
    font-weight: 600;
    background: linear-gradient(36deg, rgb(132, 133, 131) 0%, rgba(61, 60, 60, 0.975) 50%, rgb(124, 124, 123) 100%);
    box-shadow: 0px 0px 3px 3px rgb(129, 124, 119);
}

.inner-wrapper {
    gap: 100px;
    display: flex;
    justify-content: end;
    padding: 20px 350px;
    max-width: 100%;
}

.top-recipes-wrapper {
    margin: 50px 0px;
    font-family: "Unica One", serif;
    color: rgba(238, 235, 235, 0.918);
    font-size: 24px;
    word-spacing: 3px;
    letter-spacing: 2px;
    justify-items: center;
}

.top-recipes-heading {
    text-align: center;
    margin: 20px;
    padding: 0px 50px;
    border-bottom: 5px solid rgb(167, 167, 167);
    border-radius: 4px;
}

@media (max-width: 1800px) {
    .bullet-content {
        max-width: 1000px;
    }
}

@media (max-width: 1472px) {
    .bullet-content {
        max-width: 800px;
    }
}

@media (max-width: 1283px) {
    .bullet-content {
        max-width: 600px;
    }

    .inner-wrapper {
        justify-content: center;
        gap: 25px;
        padding: 0px;
    }
}

@media (max-width: 818px) {
    .bullet-content {
        margin-bottom: 200px;
    }
}

@media (max-width: 572px) {
    .bullet-content {
        margin-bottom: 100px;
    }
}

@media (max-width: 504px) {
    .bullet-content {
        margin-bottom: 0px;
    }

    .inner-wrapper {
        padding: 0px;
        gap: 0px;
    }

    .button {
        width: 140px;
        height: 45px;
    }
}