.not-found-wrapper {
    background: none;
    background-color: rgb(231, 235, 236);
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    width: 100%;
}

.heading {
    font-size: 150px;
    padding-top: 100px;
    justify-self: center;
}

.content-wrapper {
    font-size: 25px;
    justify-self: center;
    text-align: center;
}

.content {
    max-width: 800px;
    margin-top: 50px;
}

.go-home-wrapper {
    margin-top: 80px;

}

.go-home-btn {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-self: center;
    padding: 10px 100px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(51deg, rgba(36, 92, 92, 0.897) 0%, rgba(23, 143, 137, 0.87) 50%, rgba(36, 92, 92, 0.897) 100%);
    text-decoration: unset;
    color: aliceblue;
}

.go-home-btn:hover {
    background: linear-gradient(51deg, rgba(39, 112, 112, 0.897) 0%, rgba(19, 173, 165, 0.87) 50%, rgba(39, 112, 112, 0.897) 100%);
}