.profile-wrapper {
    color: rgba(238, 235, 235, 0.979);
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
}

.profile-card {
    background: linear-gradient(51deg, rgba(8, 36, 48, 0.918) 0%, rgba(28, 66, 71, 0.267) 50%, rgba(8, 36, 48, 0.925) 100%);
    width: 30%;
    box-shadow: 4px 1px 7px 1px black;
}

.profile-info {
    margin-top: 150px;
}

.heading {
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
}

.img-wrapper {
    justify-self: center;
    max-width: 200px;
    width: 180px;
    margin: 10px
}

.profile-img {
    margin-top: 20px;
    width: 100%;
    border-radius: 100%;
    max-height: 170px;
    border: 2px solid rgb(139, 132, 132);
}

.user-data {
    justify-self: center;
    list-style: none;
    padding: 30px;
    font-size: 16px;
}

.data-li {
    margin: 20px;
    word-spacing: 3px;
}

.profile-btn-wrapper,
.edit-form-button {
    color: rgba(238, 235, 235, 0.979);
    width: 100%;
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}

.file-form {
    display: grid;
}

.profile-btn,
.edit-form-button {
    color: rgba(238, 235, 235, 0.979);
    padding: 5px 10px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    word-spacing: 1px;
    box-shadow: 0px 0px 2px 1px rgb(82, 206, 212);
    background: linear-gradient(51deg, rgba(36, 92, 92, 0.897) 0%, rgba(23, 143, 137, 0.87) 50%, rgba(36, 92, 92, 0.897) 100%);
}

.profile-btn:hover,
.edit-form-button:hover {
    cursor: pointer;
    background: linear-gradient(51deg, rgba(39, 112, 112, 0.897) 0%, rgba(19, 173, 165, 0.87) 50%, rgba(39, 112, 112, 0.897) 100%);
    box-shadow: 0px 0px 2px 2px rgb(82, 206, 212);
}

.disabled,
.disabled:hover {
    color: rgba(136, 136, 136, 0.979);
    background: linear-gradient(270deg, rgb(72, 73, 73) 23%, rgb(84, 87, 88) 50%, rgb(70, 73, 73) 77%);
    cursor: not-allowed;
    box-shadow: 0px 0px 2px 1px rgb(95, 114, 116);
}

.edit-profile-form {
    width: 70%;
    box-shadow: 4px 1px 7px 1px black;
    background: linear-gradient(51deg, rgba(8, 26, 34, 0.842) 0%, rgba(30, 76, 83, 0.671) 50%, rgba(8, 26, 34, 0.842) 100%);
}

.edit-heading {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    justify-self: center;
}

.edit-fields-wrapper {
    max-width: 700px;
    margin: 150px 20px;
    justify-self: center;
    font-size: 16px;
    width: 80%;
}

.input-field {
    all: unset;
    margin-bottom: 40px;
    width: 100%;
    background-color: rgba(86, 98, 107, 0.329);
    border-radius: 2px;
    height: 30px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.edit-btn-wrapper {
    justify-self: start;
}

.edit-form-button {
    margin-top: 107px;
    padding: 8px 50px;
}

@media(max-width: 650px) {
    .profile-wrapper {
        display: grid;
    }

    .profile-card {
        width: 100%;
    }

    .edit-profile-form {
        width: 100%;
    }
}